<header>
    <div class="flex-container">
        <div><img src="/img/logo.png" class="logo" alt=""></div>
        <h1 class="titulo">Escolher Esporte</h1>
        <div><button class="botao_sair"><a href="../../Tela_inicial/index.html">Sair</a></button></div>
    </div>
</header>
<main>
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <img src="/img/futebol.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Futebol</h5>
                <p class="card-text">O futebol, disputado classicamente entre duas equipes, cada uma com 11 jogadores,
                    que utilizam principalmente os pés e a cabeça para movimentar a bola em direção ao campo adversário,
                    tem o objetivo de colocá-la dentro do gol.</p>
                <a href="/partida/entrar/time/1/{{id}}" class="btn btn-primary">Escolher</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/volêi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Volêi</h5>
                <p class="card-text">O voleibol é um esporte disputado por dois times que têm como objetivo lançar uma
                    bola por cima de uma rede e fazer com que ela atinja o chão da quadra adversária, marcando, assim,
                    um ponto.</p>
                <a href="/partida/entrar/time/2/{{id}}" class="btn btn-primary">Escolher</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/basquete.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Basquete</h5>
                <p class="card-text">O basquete é uma modalidade esportiva muito dinâmica e intensa. Suas partidas são
                    disputadas entre duas equipes compostas por cinco jogadores cada uma. Durante o jogo, o objetivo é
                    fazer ponto ou converter a cesta, impedindo que a outra equipe marque pontos.</p>
                <a href="/partida/entrar/time/3/{{id}}" class="btn btn-primary">Escolher</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/futevolei.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Futevolêi</h5>
                <p class="card-text">É jogado por duas equipes formadas por dois ou quarto jogadores. O jogo é disputado
                    em uma quadra de areia dividida por uma rede suspensa. Os jogadores têm por objetivo enviar a bola
                    por cima da rede usando toques que podem ser efetuados com os pés, coxas, peito, cabeça e ombros.
                </p>
                <a href="/partida/entrar/time/4/{{id}}" class="btn btn-primary">Escolher</a>
            </div>
        </div>
        <div class="card card-tenis" style="width: 18rem;">
            <img src="/img/tênis.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tênis</h5>
                <p class="card-text">Tênis é um esporte praticado entre dois oponentes ou duas duplas de oponentes em
                    uma quadra dividida por uma rede, onde os jogadores usam raquetes para rebater uma pequena bola de
                    um lado para o outro.</p>
                <a href="/partida/entrar/time/5/{{id}}" class="btn btn-primary">Escolher</a>
            </div>
        </div>
    </div>
</main>
<footer class="rodape">
    <div class="container">
        <div class="row teste">
            <div class="col">
                <div>
                    <p class="estilo_letra">&copy Todos os direitos resevados</p>
                </div>
            </div>
            <div class="col">
                <div class="container rodape2">
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Serviços</a>
                    </div>
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Sobre nós</a>
                    </div>
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Contato</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>