<header>
    <div class="flex-container">
        <div><img src="/img/logo.png" class="logo" alt=""></div>
        <h1 class="titulo">Partida</h1>
        <div><button class="botao_sair">Sair</button></div>
    </div>
</header>
<main>
    <div class="informacoes">
        <p><span>Esporte:</span> {{partidas.Nome}}</p>
        <p><span>Quadra:</span> {{partidas.NomeQuadra}}</p>
        <p><span>Data:</span> {{partidas.Data}}</p>
        <p><span>Horário:</span> {{partidas.HorarioInicio}}-{{partidas.HorarioFim}}</p>
    </div>
    <div class="partida" border="1">
        <table id="table">
            <thead class="title">
                <tr>
                    <th>{{nome1.Nome}}</th>
                </tr>
            </thead>
            {{#each atletatimes1}}
            <tr>
                <td>{{Nome}}</td>
            </tr>
            {{/each}}
        </table>
        <table id="table">
            <thead class="title">
                <tr>
                    <th>{{nome2.Nome}}</th>
                </tr>
            </thead>
            {{#each atletatimes2}}
            <tr>
                <td>{{Nome}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</main>
<footer class="rodape">
    <div class="container">
        <div class="row teste">
            <div class="col">
                <div>
                    <p class="estilo_letra">&copy Todos os direitos resevados</p>
                </div>
            </div>
            <div class="col">
                <div class="container rodape2">
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Serviços</a>
                    </div>
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Sobre nós</a>
                    </div>
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Contato</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<script>
    document.title = "Lobby"
</script>