<body>
    <header>
        <div class="flex-container">
            <div><img src="/img/logo.png" class="logo" alt=""></div>
            <div><a href="/"><input type="button" class="botao_sair"
                        value="Sair"></a></div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    {{#each quadra}}
                    <h1><strong>{{NomeQuadra}}</strong></h1>
                    {{/each}}
                </div>
                <div class="col-3 offset-sm-1">
                    <a href="/locatario/home/{{email}}"><input type="submit" class="botao_sair" value="Retornar"></a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8">
                <table id="grid-partidas" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Partida</th>
                            <th scope="col">Data</th>
                            <th scope="col">Horário</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {{#each partidas}}
                    <tbody id="table-partidas">
                        <th scope="col">{{CodigoPartida}}</th>
                        <th scope="col">{{Data}}</th>
                        <th scope="col">{{HorarioInicio}} - {{HorarioFim}}</th>
                        <th scope="col"><a href="/locatario/pagamentos/{{../idQuadra}}/{{../email}}/{{CodigoPartida}}">Pagamentos</a></th>
                    </tbody>
                    {{/each}}
                </table>
            </div>

        </div>
    </div>

    <footer class="rodape">

        <div class="container">
            <div class="row teste">

                <div class="col">
                    <div>
                        <p class="estilo_letra">&copy Todos os direitos resevados</p>
                    </div>
                </div>

                <div class="col">
                    <div class="container rodape2">
                        <div class="col">
                            <a href="#" class="estilo_letra remover_decoracao">Serviços</a>
                        </div>
                        <div class="col">
                            <a href="#" class="estilo_letra remover_decoracao">Sobre nós</a>
                        </div>
                        <div class="col">
                            <a href="#" class="estilo_letra remover_decoracao">Contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>