<header>
    <div class="flex-container">
        <div><img src="../../img/logo.png" class="logo" alt=""></div>
        <h1 class="titulo"></h1>
        <div><a href="/"><button class="botao_sair">Sair</button></div></a>
    </div>
</header>



<main>
    <div class="container">

        <div class="row">
            <div class="col-sm-3">
                <h2><strong> Minhas Quadras:</strong></h2>
            </div>
            <div class="col-sm-3 offset-4">
                <a href="/locatario/cadastrar/quadra"><input type="button" class="btn btn-outline-danger" id="btn"
                        value=" + quadra"></a>
            </div>
        </div>
        <div class="row">
            {{#each quadras}}

            <div class="col-sm-3 offset-1">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{NomeQuadra}}</h5>
                        <p class="card-text">CEP: {{CEP}}</p>
                        <p class="card-text">Preço: {{Preco}}</p>
                        <a href="#" class="card-link">Editar</a>
                        <a href="/locatario/agendamentos/{{CodigoQuadra}}/{{../email}}"
                            class="card-link">Agendamentos</a>
                    </div>
                </div>
            </div>
            {{else}}
            <h2>Cadastre sua primeira Quadra</h2>

            {{/each}}
        </div>



</main>




<footer class="rodape">
    <div class="container">
        <div class="row teste">
            <div class="col">
                <div>
                    <p class="estilo_letra">&copy Todos os direitos resevados</p>
                </div>
            </div>
            <div class="col">
                <div class="container rodape2">
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Serviços</a>
                    </div>
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Sobre nós</a>
                    </div>
                    <div class="col">
                        <a href="" class="estilo_letra remover_decoracao">Contato</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script>document.title = "Locatário"</script>